<div class="row" id="schedule">
  <!-- Menu -->
  <div class="menu col-md-1 col-12">
    <div class="row">
      <!-- Enlace  para listar constactos -->
      <div class="menu-item col-md-12 col-6" [routerLink]="['list-contacts']">
        <img class="img-fluid" src="assets/img/lst.png" alt="">
      </div>
      <!-- Enlace para añadir un contacto -->
      <div class="menu-item col-md-12 col-6" [routerLink]="['add-contact']">
        <img class="img-fluid" src="assets/img/add.png" alt="">
      </div>
        <!-- Enlace para eliminar todos -->
          <button (click)="delAll()" class="btn" >
            <img  src="assets/img/all.png" alt="">
          </button>
        </div>
    </div>


  <div class="content col-md-11 col-12 h-100">
    <!-- Segun la ruta, cargara uno u otro componente -->
    <router-outlet></router-outlet>
  </div>
</div>