<div class="row" id="list-contacts">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <h1>Lista de empleados</h1>
      </div>
    </div>

    <!-- Solo se muestra si la lista de contactos -->
    <ng-container *ngIf="listContacts.length > 0">
          <table class="table table-striped">
            <thead>
                <th>No</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Consultar</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                <tr *ngFor="let contact of listContacts;let index=index">
                    <td>{{index+1}}</td>
                    <td>{{ contact.id | capitalize}}</td>
                    <td>{{ contact.data.nombre | capitalize}}</td>
                    <td>{{ contact.data.apellidoPat | capitalize}}</td>
                    <td>{{ contact.data.apellidoMat | capitalize}}</td>
                    <td>
                      <a  [attr.data-target]="'#modal_'+index" data-toggle="modal"  role="button">
                          <img class="img-fluid" src="assets/img/perfil-fb-hombre.png" alt="Consultar"></a>  
                    </td>
                    <td>
                      <button (click)="delContact(contact)" class="btn" >
                        <img  src="assets/img/del.png" alt="Eliminar">
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>

       <!--Detalle de contacto -->
        <div *ngFor="let contact of listContacts;let index=index">
        <!-- Modal del contactos -->
          <div class="modal fade" [attr.id]="'modal_'+index" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">*{{ contact.id | capitalize}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-3">
                      <!-- Imagen del contacto -->
                      <img class="img-fluid" [src]="contact.data.nombre  === 'mujer' ? 'assets/img/perfil-fb-mujer.png' : 'assets/img/perfil-fb-hombre.png'" alt="">
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-12">
                          <!-- Descripcion del contacto -->
                          <span>{{contact.data.nombre  +' ' +contact.data.apellidoPat  + ' '+ contact.data.apellidoMat}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <span class="d-block">Email: </span>
                          <span class="d-block ellipsis" [title]="contact.email">{{contact.data.email }}</span>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

    </ng-container>

    <!-- Se muestra cuando no hay contactos -->
    <ng-container *ngIf="listContacts.length === 0">

      <div class="row">
        <div class="col-12">
          <p>No hay empleados disponibles.</p>
        </div>
      </div>

    </ng-container>

  </div>
</div>